h1  {
  color: #C71585;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: optima;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

li:nth-child(2) {
  font-family: helvetica;
  color: green;

}
#special  {
  font-size: 28px
}

a {
  color: red;
}
a:hover {
  opacity: .5;
}

img:hover {
  opacity: .5;
}

a:focus{
  opacity: .4;
}
body  {
  background-color: tan;
  opacity: .8;
}


a:active {
  color: blue;
}
